services:
  - type: web
    name: farma-plus-app
    env: node
    region: oregon
    plan: free

    buildCommand: |
      npm install
      npm run build

    startCommand: npm run start

    envVars:
      - key: NODE_ENV
        value: production
      - key: VITE_SUPABASE_URL
        sync: false
      - key: VITE_SUPABASE_ANON_KEY
        sync: false
      - key: APP_ENV
        value: production

    autoDeploy: true